<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table table-striped">
  <thead>
    <tr>
      <th>product</th>
      <th>product name</th>
      <th>price</th>
      <th>userid</th>
      <th>quantity</th>

    </tr>
  </thead>
  <tbody>
    {{#each result}}
    <tr>
      <th>{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.price}}</td>
      <td>{{this.userid}}</td>
      <td>{{this.qty}}</td>

    </tr>
    {{/each}}
   </tbody>
</table>
</body>
</html>